{% extends 'base.html.twig' %}

{% block title %}editar il profilo
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-2">&nbsp;</div>
		<div class="col-md-8">
			<h1 class="text-center display-4">
				<i class="fa fa-user-o"></i>Modifica il tuo account</h1>
			<p class="text-center">Puoi modificare le informazioni relative al tuo account utilizzando il modulo sottostante.</p>

			<div class="card primary bg-light">


				<div class="card-body">
					{{form_start(formAccountEdit)}}
					{{form_widget(formAccountEdit)}}
					<button class="btn btn-success btn-lg" type="submit">Edita</button>
					{{form_end(formAccountEdit)}}
				</div>
			</div>
		</div>

	</div>
{% endblock %}
