{% extends "base.html.twig" %}
{% block title %}
	cambiare la password
{% endblock %}
{% block body %}

	<div class="row">
		<div class="col-3">&nbsp;</div>
		<div class="col-md-6">
			<div class="card primary bg-light">
				<div class="card-header">
					<h1 class="text-center">Modifica la tua password</h1>
				</div>
				<div class="card-body">
					{{form_start(formAccountPasswordUpdate)}}
					{{form_widget(formAccountPasswordUpdate)}}
					<button class="btn btn-success btn-lg" type="submit">Registrarsi</button>
					{{form_end(formAccountPasswordUpdate)}}
				</div>
			</div>
		</div>

	</div>
{% endblock %}
