{% extends 'base.html.twig' %}

{% block title %}login!
{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-md-3">&nbsp;</div>
		<div class="col-md-6">
			<div class="card bg-light">
				<div class="card-header">
					<h1 class="text-center">connettersi al sito</h1>
				</div>
				<div class="card-body">

					{% if hasErrors %}
						<div class="alert alert-danger">
							<strong>si è verificato un errore il nome utente o la password non è corretta</strong>
						</div>
					{% endif %}
					{{form_start(formView, {'action': path('security_login'), 'method': 'POST'})}}
					{{form_widget(formView)}}
					<button class="btn btn-success btn-lg" type="submit">
						<i class="fa fa-unlock-alt"></i>Accedere</button>
					<p class="text-center">se non hai un account registrati!
						<a href="{{path('account_register')}}" class="font-weight-bold">Register</a>
					</p>
					{{form_end(formView)}}

				</div>
			</div>


		</div>
	</div>


{% endblock %}
