<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% include "admin/partials/_navbar.html.twig" %}
		<main role="main">
			<div class="container mt-5">
				{{ include('product/partials/_flash_messages.html.twig') }}
				<div class="container"> {% block body %}{% endblock %}
					</div>
				</div>
			</main>

			{% block javascripts %}
				{{ encore_entry_script_tags('app') }}
			{% endblock %}
			<footer>
				{% include "admin/partials/_footer.html.twig" %}
			</footer>
		</body>
	</html>
