{% extends '/admin/base.html.twig' %}

{% block title %}ashboard!
{% endblock %}

{% block body %}
	<h1 class="text-center displ4y-2 mb-5">
		Dashboard</h1>


	<div class="row">
		<div class="col-12 col-sm-12 col-md-6 col-lg-4">
			<div class="card text-white bg-success mb-3" style="max-width: 20rem;">
				<div class="card-body">
					<div class="row">
						<div class="col-4">
							<i class="fa fa-users fa-4x"></i>
						</div>
						<div class="col-8">
							<h2 class="card-title">15 UTENTI</h2>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="col-12 col-sm-12 col-md-6 col-lg-4">
			<div class="card text-white bg-info mb-3" style="max-width: 20rem;">
				<div class="card-body">
					<div class="row">
						<div class="col-4">
							<i class="fa fa-list fa-4x"></i>
						</div>
						<div class="col-8">
							<h2 class="card-title">100 ARTICOLI</h2>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="col-12 col-sm-12 col-md-6 col-lg-4">
			<div class="card text-white bg-info mb-3" style="max-width: 20rem;">
				<div class="card-body">
					<div class="row">
						<div class="col-4">
							<i class="fa fa-th-list fa-4x"></i>
						</div>
						<div class="col-8">
							<h2 class="card-title">10 CATEGORIE</h2>
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>
	<div class="row">
		<div class="col-12 col-sm-12 col-md-6 col-lg-4">
			<div class="card text-white bg-success mb-3" style="max-width: 20rem;">
				<div class="card-body">
					<div class="row">
						<div class="col-4">
							<i class="fa fa-users fa-4x"></i>
						</div>
						<div class="col-8">
							<h2 class="card-title">15 IN ATTESA</h2>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="col-12 col-sm-12 col-md-6 col-lg-4">
			<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
				<div class="card-body">
					<div class="row">
						<div class="col-4">
							<i class="fa fa-money fa-4x"></i>
						</div>
						<div class="col-8">
							<h2 class="card-title">Totale 50000 &euro;</h2>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="col-12 col-sm-12 col-md-6 col-lg-4">
			<div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
				<div class="card-body">
					<div class="row">
						<div class="col-4">
							<i class="fa fa-shopping-basket fa-4x"></i>
						</div>
						<div class="col-8">
							<h2 class="card-title">100 ORDINE</h2>
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>
	<hr>
{% endblock %}
