{% extends "base.html.twig" %}
{% block title %}
	Not Found
{% endblock %}
{% block style %}
	<style></style>
{% endblock %}
{% block body %}
	<div class="row">
		<div class="col-12 col-sm-12 col-md-12">
			<div class="jumbotron border-primary">
				<h1 class="display-3 text-center">Ups! Pagina non trovata!
				</h1>
				<p class="lead">il server non riesce a trovare la risorsa richiesta,
										Nessun problema, torna alla home page e continua a goderti i nostri prodotti .</p>
				<hr class="my-4">
				<p class="lead">
					<a class="btn btn-primary btn-lg btn-lg btn-block" href="{{path('home_index')}}" role="button">Torna Alla Pagina D'Acoglienza</a>
				</p>
			</div>
		</div>
	</div>
{% endblock %}
